// Colours
$blue: #0499f2;
$blue-light: #6dc8ff;
$green-bright: #50FF40;
$green-dull: #48A815;
$green-turquoise: #26f596; 
$orange: #ff8800;
$orange-dark: #fc7100;
$pink: #ff5185;
$purple: #b536ff;
$red: #ff3033;

// Breakpoints
$small: 640px;
$medium: 820px;
$wide: 1000px;